# IDEA
.idea/
build-idea/
test-output/
reports/
*.iml
*.ipr
*.iws

.project
.classpath

# Gradle
.gradle
/build/
.settings
.gradle/
build/
out/

# # Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Embedded Cassandra
target/

# Log folder and log fiels
log/
.log